/* ===== css variable ===== */
:root {
  /* === font === */
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Kaushan Script", cursive;
  --third-font: "Roboto", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --lh-normal: 1.4;
  /* === font === */
  /* === colors === */
  --white-clr: #fff;
  --primary-clr: #fce38a;
  --secondary-clr: #f38181;
  --third-clr: #95e1d3;
  --ash-clr: #999;
  --ash-clr-2: #ccc;
  --dark-clr: #333;
  /* === colors === */
  /* === methods === */
  --transition: all linear 0.3s;
  --uppercase: uppercase;
  --capitalize: capitalize;
  --relative: relative;
  --absolute: absolute;
  /* === methods === */
}
/* ===== css variable ===== */
/* =====Common css===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html {
  scroll-behavior: smooth;
  scroll-margin-top: -80px;
}
body {
  overflow-x: hidden;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
  padding: 0;
}
i {
  cursor: pointer;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* =====Common css===== */
/* ===Nav section start here=== */
.navbar {
  width: 100%;
  padding: 29px 0;
  position: var(--absolute) !important;
  left: 0;
  top: 0;
  background-color: transparent;
}
.brand_logo {
  max-width: 86px;
  height: 25px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.navbar-toggler {
  border: 1px solid transparent;
  box-shadow: none !important;
}
.navbar-toggler:hover {
  border: 1px solid var(--primary-clr);
}
.collapse_icon {
  color: var(--white-clr);
  font-size: 22px;
}
.navbar-nav {
  column-gap: 55px;
}
.nav-link {
  padding: 0;
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-size: 15px;
  color: var(--white-clr);
  text-transform: var(--uppercase);
  position: var(--relative);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav-link:hover {
  color: var(--primary-clr);
}
.nav-link:focus {
  color: var(--primary-clr);
}
.nav-link::before {
  position: var(--absolute);
  content: "";
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 3px;
  background-color: var(--primary-clr);
  transform: scale(0);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.nav-link:hover::before {
  transform: scale(1);
}
/* ===Nav section end here=== */
/* ===Banner section start here=== */
#banner {
  padding: 230px 0;
  background: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_wrapper {
  text-align: center;
  color: var(--white-clr);
}
.banner_wrapper h3 {
  font-family: var(--secondary-font);
  font-weight: var(--fw-regular);
  font-size: 72px;
  padding-bottom: 44px;
}
.banner_wrapper h2 {
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 150px;
  text-transform: var(--uppercase);
  position: var(--relative);
  line-height: var(--lh-normal);
  padding-bottom: 150px;
}
.banner_wrapper h2::before {
  position: var(--absolute);
  content: "";
  left: 50%;
  bottom: 38px;
  width: 60px;
  height: 3px;
  background-color: var(--white-clr);
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.banner_wrapper a {
  margin-top: 124px;
  padding: 12px 30px;
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 14px;
  color: var(--white-clr);
  text-transform: var(--uppercase);
  border: 3px solid var(--white-clr);
}
/* ===Banner section end here=== */
/* common heading */
.common_heading {
  text-align: center;
}
.common_heading > h3 {
  font-family: var(--secondary-font);
  font-weight: var(--fw-regular);
  font-size: 24px;
  padding-top: 90px;
}
.common_heading > h2 {
  font-family: var(--primary-clr);
  font-weight: var(--fw-bold);
  font-size: 30px;
  text-transform: var(--uppercase);
  padding-top: 24px;
  margin-bottom: 90px;
  position: var(--relative);
}
.common_heading > h2::before {
  position: var(--absolute);
  content: "";
  left: 50%;
  bottom: -40px;
  width: 60px;
  height: 3px;
  background-color: var(--secondary-clr);
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}
.common_heading > p {
  font-family: var(--third-font);
  font-weight: var(--fw-regular);
  font-size: 15px;
  color: var(--ash-clr);
  padding: 0 123px;
  line-height: var(--lh-normal);
}
/* common heading */
/* ===About section start here=== */
.team_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about_itemWrapper{
  margin: 104px 0;
}
.about_item {
  max-width: 380px;
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: var(--relative);
  margin: 0 auto;
}
.overlay {
  position: var(--absolute);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(243, 129, 129, 0.9),
    rgba(252, 227, 138, 0.9)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-clr);
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 18px;
  text-transform: var(--uppercase);
  transform: scale(0);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.about_icon > a {
  color: var(--white-clr);
}
.overlay > h3 {
  padding-top: 12px;
}
.about_item:hover .overlay,
.team_item_box:hover .overlay,
.gal_inner:hover .overlay,
.big_inner:hover .overlay {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* ===About section end here=== */
/* === counter section start here === */
#counter {
  padding: 90px 0;
  width: 100%;
  background-color: var(--third-clr);
}
.counter_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.counter_item {
  text-align: center;
}
.counter_item > h2 {
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 72px;
  color: var(--white-clr);
  text-transform: var(--uppercase);
}
.counter_item > h3 {
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  color: var(--white-clr);
  font-size: 14px;
  text-transform: var(--uppercase);
  line-height: var(--lh-normal);
  padding-top: 30px;
}
/* === counter section end here === */
/* ===Service section end here=== */
.service_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.service_item {
  display: flex;
  justify-content: space-around;
  width: 360px;
  padding-bottom: 100px;
}
.service_icon > span > i {
  font-size: 30px;
  color: var(--third-clr);
  padding: 20px;
}
.service_details > h3 {
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-size: 14px;
  text-transform: var(--uppercase);
  color: var(--dark-clr);
  padding: 20px 0;
}
.service_details > p {
  font-family: var(--third-font);
  font-weight: var(--fw-regular);
  font-size: 15px;
  color: var(--ash-clr);
  line-height: 25px;
}
.service_slider {
  width: 100%;
  background-color: #f8f8f8;
  padding: 70px 25px;
}
.slider_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider_icon > i {
  color: var(--ash-clr-2);
  font-size: 24px;
  padding: 0 75px;
}
.slider_icon_big > i {
  color: var(--third-clr);
  font-size: 60px;
  padding: 40px;
  border: 3px solid var(--third-clr);
}
.slider_message {
  padding-left: 60px;
}
.slider_message > p {
  font-family: var(--third-font);
  font-size: 24px;
  font-weight: var(--fw-light);
  color: var(--ash-clr);
  line-height: 1.5;
  padding-bottom: 28px;
}
.slider_message > h3 {
  margin-left: 70px;
  font-family: var(--secondary-font);
  font-weight: var(--fw-regular);
  font-size: 24px;
  position: var(--relative);
}
.slider_message > h3::before {
  position: var(--absolute);
  content: "";
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 3px;
  background-color: #f38181;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* ===Service section end here=== */
/* ===Team section start here=== */
.team_item_wrapper {
  margin-top: 90px;
  text-align: center;
}
.team_item_box {
  width: 380px;
  height: 470px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: var(--relative);
}
.team_icon_group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team_social_icon {
  width: 56px;
  height: 56px;
  background-color: var(--primary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: all 0.3s linear;
}
.team_social_icon > a {
  color: var(--secondary-clr);
  font-size: 24px;
  transition: all 0.3s linear;
}
.team_social_icon:hover a {
  color: var(--white-clr);
}
.team_social_icon:hover {
  background-color: var(--secondary-clr);
}
.team_item_wrapper > h3 {
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-size: 14px;
  text-transform: var(--uppercase);
  color: var(--dark-clr);
  padding-top: 38px;
}
.team_item_wrapper > p {
  font-family: var(--third-font);
  font-size: 15px;
  font-weight: var(--fw-light);
  color: var(--ash-clr);
  padding-top: 16px;
}
/* ===Team section end here=== */
/* ===Work section end here=== */
.gal_wrapper {
  width: 100vw;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.gal_item_big,
.gal_inner {
  width: 25%;
  height: 780px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  position: var(--relative);
}
.big_inner {
  height: 100%;
  width: 100%;
}
.gal_inner {
  width: 100%;
  height: 50%;
}
#work .overlay > h3 {
  font-weight: 400;
  font-size: 14px;
  padding: 20px 0;
}
#work .overlay > p {
  font-family: var(--third-font);
  font-size: 15px;
  font-weight: var(--fw-light);
}
/* ===Work section end here=== */
/* ===Footer section end here=== */
#footer {
  width: 100vw;
  background-color: #f8f8f8;
}
.footer_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 70px;
}
.contact_wrapper {
  width: 480px;
  height: 100%;
}
.contact_wrapper > h2 {
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 46px;
  color: var(--ash-clr-2);
  padding-bottom: 42px;
}
.contact_wrapper > p {
  font-family: var(--third-font);
  font-size: 15px;
  font-weight: var(--fw-regular);
  padding-bottom: 50px;
  color: var(--ash-clr);
  line-height: 1.5;
}
.contact_wrapper > h3 {
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 18px;
  color: var(--dark-clr);
}
.contact_wrapper span {
  font-weight: var(--fw-regular);
  font-weight: 14px;
}
.contact_wrapper > hr {
  margin: 18px 0;
}
.following_link {
  display: flex;
  align-items: center;
}
.following_link > h4 {
  font-family: var(--third-font);
  font-size: 15px;
  font-weight: var(--fw-regular);
  color: var(--ash-clr);
  padding-right: 22px;
}
.following_social_icon > a > i {
  font-size: 16px;
  color: var(--third-clr);
  padding-right: 16px;
}
.social_icon_group {
  display: flex;
  align-items: center;
}
form {
  padding-top: 36px;
}
form > input {
  width: 228px;
  border: 1px solid #e7e7e7;
  border-right: none;
  padding: 12px;
  outline: none;
}
form > input::placeholder {
  font-family: var(--third-font);
  font-size: 15px;
  font-weight: var(--fw-light);
  color: var(--ash-clr-2);
  font-style: italic;
  padding-left: 14px;
  padding: 1px 0;
}
form > input:focus {
  border: 1px solid #e7e7e7;
  outline: none;
}
form > button {
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  font-size: 14px;
  color: var(--white-clr);
  text-transform: var(--uppercase);
  padding: 11px 34px;
  background-color: var(--third-clr);
  border: none;
  outline: none;
  cursor: pointer;
}
.blogs_wrapper {
  width: 336px;
  height: 100%;
}
.blogs_wrapper > h3,
.insta_wrapper > h3 {
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-size: 14px;
  color: var(--dark-clr);
  text-transform: var(--uppercase);
  padding-bottom: 42px;
}
.blog_item_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 30px;
}
.blog_item {
  display: flex;
  align-items: center;
}
.blog_item_img {
  min-width: 120px;
  min-height: 80px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.blog_item_details {
  padding-left: 20px;
}
.blog_item_details > h4 {
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-size: 12px;
  color: var(--dark-clr);
  text-transform: var(--uppercase);
  line-height: 1.5;
}
.blog_item_details > p {
  font-family: var(--third-font);
  font-size: 13px;
  font-weight: var(--fw-light);
  color: var(--ash-clr);
  font-style: italic;
  padding-top: 12px;
}
.insta_wrapper {
  width: 268px;
  height: 100%;
}
.insta_item_group {
  max-width: 268px;
  max-height: 268px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2px;
  margin-bottom: 20px;
}
.insta_item {
  max-width: 88px;
  max-height: 88px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.insta_wrapper > a {
  font-family: var(--third-font);
  font-size: 13px;
  font-weight: var(--fw-regular);
  color: var(--fw-light);
  font-style: italic;
}
hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #e5e5e5;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-family: var(--primary-font);
  font-weight: var(--fw-regular);
  font-size: 14px;
  color: var(--dark-clr);
}
.copyright a {
  color: var(--secondary-clr);
}
/* ===Footer section end here=== */
